package components

import (
	"github.com/mvaldes14/api-go-otel/pkg/database"
	"fmt"
)

templ TodoList(todos database.TodoList) {
	<ol class="list-inside list-decimal">
		for _, todo := range todos {
			<li>
				{ todo.Title }
				<span>
					<input type="checkbox" checked?={ todo.Completed }/>
					<button class="text-red-500" hx-delete={ string(templ.URL(fmt.Sprintf("/api/todo/%d", todo.ID))) }>X</button>
				</span>
			</li>
		}
	</ol>
}
